<div class="user-zone">
  <div class="user-container">
    <div class="section-title">
      <h3 class="title">לוח משתמש</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" *ngFor="let quiz of quizList">
      <app-smart-card [topic]="quiz">
        <ul>
          <li *ngFor="let item of quiz.list">{{item.name}}<span>{{item.grade}}</span></li>
        </ul>
      </app-smart-card>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
    </div>
  </div>
</div>
