<div class="card-box" *ngIf="topic">
  <div class="card-item">
    <div class="card-header">
      <h5>{{topic.topic}}</h5>
    </div>
    <div class="card-body">
      <div class="card-main-body" [ngStyle]="{'height': showMore ? 'auto' : '150px'}">
        <ng-content></ng-content>
      </div>
      <span (click)="showMore = !showMore">{{ showMore ? 'הצג פחות...' : 'הצג יותר...'}}</span>
    </div>
    <div class="card-footer" *ngIf="topic.footer">
      <button class="btn btn-dark" [routerLink]="'/topic/' + topic.id">כניסה</button>
      <div class="q-num"> סה"כ שאלות: {{topic.questions}}</div>
    </div>
  </div>
</div>
